<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.teiid.businessrules.pojo">
    <resources>
        <!-- Insert resources here -->
        <!--  this contains the example POJO and .drl rule file -->
        <resource-root path="teiiddrools-udf-tests.jar" />
    </resources>

    <dependencies>
        <module name="org.slf4j" />
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />
    </dependencies>
</module>
