<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.client.quickstart.pojos">
    <resources>
        <resource-root path="jdg-quickstart-pojos.jar" />
        <!-- Insert resources here -->
    </resources>
    
    <dependencies>
        
        <module name="org.infinispan" slot="${jdg.slot}"   export="true" />
        <module name="org.infinispan.commons" slot="${jdg.slot}"   export="true"  services="import" />
        <module name="org.infinispan.query.dsl" slot="${jdg.slot}"  export="true" /> 
 
    </dependencies>
</module>
