<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.client.quickstart.pojos">
    <resources>
        <resource-root path="jdg-quickstart-pojos.jar" />
        <!-- Insert resources here -->
    </resources>
    
    <dependencies>
        <module name="org.jboss.teiid.resource-adapter.infinispan.libmode" />
    </dependencies>
</module>
